image: "registry.gitlab.com/mia_jinns/docker-image-quarto-jax-sphinx:main"

stages:
  - linting
  - tests
  - build
  - publish

black:
  stage: linting
  image: registry.gitlab.com/pipeline-components/black:latest
  script:
    - black --check --verbose -- .
  tags:
    - docker

run_tests:
  stage: tests
  before_script:
    - pip install --break-system-packages pytest
  script:
    - pip install --break-system-packages .
    - cd tests
    - sh runtests.sh # without GPU on gitlab CI/CD

build_doc:
  stage: build
  before_script:
    - quarto render doc/source/math_pinn.qmd
    - quarto render doc/source/param_estim_pinn.qmd
    - quarto render doc/source/fokker_planck.qmd
    - pip install --break-system-packages sphinx sphinx_rtd_theme
    - apt install pandoc
    - pip install --break-system-packages nbsphinx pandoc
  script:
    - pip install --break-system-packages .
    - make -C doc clean html
  artifacts:
    untracked: true
    expire_in: 1 week
  tags:
    - docker

build_package:
  stage: build
  image: "python:3.9"
  before_script:
    - pip install build
  script:
    - rm -rf dist/
    - python -m build
  artifacts:
    untracked: true
    expire_in: 1 week
  tags:
    - docker


publish_package:
  stage: publish
  image: "python:3.9"
  before_script:
    - pip install twine
  script:
    - TWINE_PASSWORD=${PYPI_UPLOAD_TOKEN}
      TWINE_USERNAME=__token__
      python -m twine upload dist/*
  tags:
    - docker
  only:
    - tags

pages:
  stage: publish
  image: "python:3.9"
  script:
    - rm -rf public/
    - cp -r doc/build/html public/
  artifacts:
    paths:
    - public
  tags:
    - docker
  only:
    - main
