default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        stages: [commit]
    -   id: end-of-file-fixer
        stages: [commit]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    -   id: black
        stages: [commit]
        #- repo: local
        #  hooks:
        #  -   id: pytest-check
        #      name: pytest-check
        #      stages: [push]
        #      types: [python] # which type of modified files should trigger the hook
        #      entry: bash -c "cd tests/ && sh runtests.sh"
        #      language: system
        #      pass_filenames: false
