[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["jinns"]

[tool.setuptools_scm]
[project]
name = "jinns"
dynamic = ["version"]
description = "Physics Informed Neural Network with JAX"
readme = "README.md"
license = {text = "Apache License 2.0"}
requires-python = ">=3.7"
keywords = []
authors = [
  {name = "Hugo Gangloff", email = "hugo.gangloff@inrae.fr"},
  {name = "Nicolas Jouvin", email = "nicolas.jouvin@inrae.fr"},
]
maintainers = [
  {name = "Hugo Gangloff", email = "hugo.gangloff@inrae.fr"},
  {name = "Nicolas Jouvin", email = "nicolas.jouvin@inrae.fr"},
]
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
]
dependencies = ["numpy", "jax", "jaxopt", "optax", "equinox", "jax-tqdm"]

[project.optional-dependencies]
notebook = ["jupyter", "matplotlib"]

[project.urls]
Repository = "https://gitlab.com/mia_jinns/jinns"
Documentation = "https://mia_jinns.gitlab.io/jinns/index.html"
